<div fxLayout="row" fxLayoutAlign="space-around">
    <div>
        <p class="mat-display-4">display 4</p>
        <p class="mat-display-3">display 3</p>
        <p class="mat-display-2">display 2</p>
    </div>
    <div>
        <p class="mat-display-1">display 1</p>
        <h1 class="mat-headline">h1 text</h1>
        <h2 class="mat-title">h2 text</h2>
        <h3 class="mat-subheading-2">h3 text</h3>
        <p class="mat-body">default</p>
        <p class="mat-body-strong">default strong</p>
        <span class="mat-caption">caption</span>
    </div>
</div>

<div>
    <button mat-flat-button color="primary">Flat primary</button>
    <button mat-flat-button color="accent">Flat accent</button>
</div>
<div>
    <button mat-stroked-button color="primary">Stroked primary</button>
    <button mat-stroked-button color="accent">Stroked accent</button>
</div>

