<h1 class="title">Регистрация</h1>
<div class="form-group column">
    <mat-form-field>
        <mat-label>Имя пользователя</mat-label>
        <input matInput [formControl]="getControl('username')" required autocomplete="off">
        <mat-error>
            <validation-error [control]="getControl('username')"></validation-error>
        </mat-error>
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Пароль</mat-label>
        <input matInput type="password" [formControl]="getControl('password')" required>
        <mat-error>
            <validation-error [control]="getControl('password')"></validation-error>
        </mat-error>
    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="space-between">
        <button mat-button color="primary" routerLink="/auth/login">Уже есть аккаунт</button>
        <button mat-flat-button color="primary" (click)="submit()">Создать аккаунт</button>
    </div>
    
</div>