@use '~@angular/material' as mat;

$primary-dark-palette: mat.define-palette(mat.$blue-palette, 500);
$accent-dark-palette: mat.define-palette(mat.$amber-palette, 400);


$app-dark-theme: mat.define-dark-theme((
    color: (
        primary: $primary-dark-palette,
        accent: $accent-dark-palette
    ),
    typography: $typography-config
));