@use 'sass:map';
@use '~@angular/material' as mat;
@use '/src/app/modules/style-guide/style-guide.theme.scss' as style-guide;

@import './typography.scss';

@include mat.core($typography-config);



@import './themes/default-theme.scss';
// @import './themes/dark-theme.scss';








@mixin custom-component-themes($theme) {
    $background: map.get($theme, background);

    // Insert component mixins here
    @include style-guide.theme($theme);

    .main-wrapper {
        height: 100%;
        background-color: map.get($background, background);
    }
}







@include mat.all-component-themes($app-default-theme);
@include custom-component-themes($app-default-theme);


// .dark-theme {
//     @include mat.all-component-themes($app-dark-theme);
//     @include custom-component-themes($app-dark-theme);
// }

