@use '~@angular/material' as mat;

$typography-config: mat.define-typography-config();

/*

display-4
display-3
display-2
display-1
headline
title
subheading-2
subheading-1
body-2
body-1
caption

$typography-config: mat.get-typography-config($theme);

map.get($typography-config, caption, font-size);

*/

$breakpoints: (
  xs: 0,
  sm: 600px,
  md: 960px,
  lg: 1280px,
  xl: 1920px
);

$success-colors: mat.define-palette(mat.$green-palette, 400);
$info-colors: mat.define-palette(mat.$blue-palette, 400);
$warning-colors: mat.define-palette(mat.$amber-palette, 400);
$error-colors: mat.define-palette(mat.$red-palette, 400);